html, body{

}
.main{
    /*background-color: black;*/
    position:absolute;
    z-index: 10;
    color: white;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Sarabun', sans-serif;
}
.heading{
    font-family: audiowide;
    font-size: 13vw;
    text-align: center;
    margin-top: 1%;
    margin: auto;
}
#sidenavCog{
    text-decoration: none;
    color: white;
    top: 3.5vw;
    left: 3vw;
    position: absolute;
    font-size: 40px;
    transition: all 0.5s;
}
#sidenavCog:hover{
    text-decoration: none  !important;
    color: rgb(139, 120, 120);
    top: 3.5vw;
    left: 3vw;
    position: absolute;
    
}
/*.headlinks{
    color:white;
    text-decoration: none;
}*/
#registerbutton{
    width: 270px;
    height: 60px;
  position: relative;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 2px;
  /*color: #383736;*/
  color: white;
  border: 2px white solid;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}
#registerbutton:hover {
  color: black;
}

#registerbutton:before {
  content: "";
  position: absolute;
  background: white;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}

#registerbutton:hover:before {
  top: 0;
}

/*.headlinks:hover{
   
    color: rgb(139, 120, 120);
}*/
.ibm{
    margin-left: 2vw;
    margin-right: 2vw;
    padding-left: 1vw;
    border: 5px solid white;
    border-radius: 2vw;
    background-color: rgba(255, 255, 0, 0.2);
}
.edel{
    margin-left: 2vw;
    margin-right: 2vw;
    padding-left: 1vw;
    border: 2px solid white;
    border-radius: 2vw;
    background-color: rgba(168, 99, 21, 0.2);
}
.schneider{
    margin-left: 2vw;
    margin-right: 2vw;
    padding-left: 1vw;
    border: 2px solid white;
    border-radius: 2vw;
    background-color: rgba(172, 26, 16, 0.2);
}
.microsoft{
    margin-left: 2vw;
    margin-right: 2vw;
    padding-left: 1vw;
    border: 2px solid white;
    border-radius: 2vw;
    background-color: rgba(12, 172, 105, 0.2);
}
.autodesk{
    margin-left: 2vw;
    margin-right: 2vw;
    padding-left: 1vw;
    border: 2px solid white;
    border-radius: 2vw;
    background-color: rgba(62, 158, 18, 0.2);
}
.oracle{
    margin-left: 2vw;
    margin-right: 2vw;
    padding-left: 1vw;
    border: 2px solid white;
    border-radius: 2vw;
    background-color: rgba(61, 14, 114, 0.2);
}